<div class="login-container" style="width: 50%; margin:auto">
  <h2 style="margin-top: 1rem; text-align: center;">Iniciar Sesión</h2>
  <form class="login-form" id="form">
    <input type="text" id="username" name="username" placeholder="Usuario"/>
    <input type="email" id="email" name="email" placeholder="Email" required />
    <input
      type="password"
      id="password"
      name="contrasena"
      placeholder="Contraseña"
      required
    />
    <input type="submit" id="submit" value="Iniciar Sesión" />
  </form>
  <a href="/register">Registrarse</a>
</div>

<script src="/js/login.js"></script>