<div class="login-container" style="width: 50%; margin:auto">
  <h2 style="margin-top: 1rem; text-align: center;">Recuperar usuario</h2>
  <form class="login-form" id="form">
    <input type="text" id="user" name="user" placeholder="Nombre de usuario" required/>
    <input type="email" id="email" name="email" placeholder="Email" required />
    <input type="submit" id="submit" value="Actualizar" />
  </form>

</div>


<script src="/js/recoverPass.js"></script>