<div class="login-container" style="width: 50%; margin:auto">
  <h2 style="margin-top: 1rem; text-align: center;">Iniciar Sesión</h2>
  <form class="login-form" id="form">
    <input type="text" id="username" name="username" placeholder="Nombre" />
    <input type="text" id="lastname" name="lastname" placeholder="Apellido" />
    <input type="email" id="email" name="email" placeholder="Email" required />
     <input
      type="password"
      id="password"
      name="contrasena"
      placeholder="Contraseña"
      required
    />
    <div class="add-container">
      <h3>Address</h3>
       <input type="text" id="country" name="country" placeholder="Pais"/>
       <input type="text" id="city" name="city" placeholder="Ciudad"/>
      <input type="text" id="street" name="street" placeholder="Calle"/>
    </div>

   
    <input type="submit" id="submit" value="Iniciar Sesión" />
  </form>
</div>

<script src="/js/register.js"></script>